%div{ style: 'width:100%; text-align:center;' }
  %div{ style: 'background-color:#FFF;width:150px; height:150px; border-radius:75px;margin:auto;margin-top:80px;' }
    %i.fa.fa-book.fa-5x{style: 'margin-top:28px;'}
  %h1 Automate Review of your documentation