$light-grey: #eee;

body {
  font-family: sans-serif;
  background: #fff;
}

.email {
  &--background {
    background: #eee;
    padding: 10px;
    text-align: center;
  }

  &--container {
    max-width: 500px;
    background: #fff;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px;
  }

  &--inner-container {
    padding: 0 5% 40px;
  }
}

.pre-header {
  @extend .email--container;
  background: #eee;
  color: #eee;
  font-size: 5px;
}

img {
  max-width: 100%;
  display: block;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: darken(#eee, 30);
  margin-bottom: 30px;
}

.cta {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background: #373629;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 13px;
}

.footer-junk {
  padding: 20px;
  font-size: 10px;

  a {
    color: darken(#eee, 20);
  }
}