html, body {
  background-color: #EAEAEA;
  font-family: 'Open Sans', sans-serif;
  padding:0;
  margin:0;
}

table {
  width:90%;
  margin:5%;
  background-color:#FEFEFE;

  thead {
    td {
      padding:10px 20px;
      margin:0;
      font-weight:700;
      font-size:14px;
      border-bottom: 2px SOLID #ECECEC;
    }
  }
  td {
    padding:5px 20px;
    border-bottom: 1px SOLID #EFEFEF;
    font-size:12px;
  }
}

button {
background-color: #CACACA;
border:0px;
color:#FFF;
padding:4px 5px;
border-radius:4px;
cursor:pointer;
  &:hover {
    background-color: #red;
  }
}

nav {
  width:100%;
  display:block;
  background-color:#FFF;

  ul { 
  margin-top: -1px;
    list-style: none;

    li {
      display:inline-block;
      margin:20px 20px;

      a {
        color: #000;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
}

.source-icon { 
  font-size:18px;
  background-color:#AAA;
  display: block;
  text-align:center;
  width:20px;
  font-weight:700;
  color:#FFF;
  border-radius:10px;

}

i.source-icon {
  font-style: normal !important;
}

form {
  display:block;
  background-color:#FFFFFF;
  width:40%;
  margin:50px 30% 0 30%;
  padding: 30px;

   &.condensed {
    width:100%;
    margin-right: 5%;
    background-color: transparent !important;
    display: inline-block;

    input { 
      width:auto;
    }

    input[type=submit] {
      width: auto;
      margin: 0;
    }

  }

  label {
    width:100%
  }

  input {
    width:100%;
    font-size: 16px;
    padding:5px;
    margin-bottom:20px;
  }

  input[type=submit] {
    width: 20%;
    margin: 10px 40% 0 40%;
  }
}

.badge {
  clear: both;
  border: 3px SOLID #000;
  border-radius:15px;
  width:420px;

  .reviewer-icon {
    float:left;
    margin:10px;
  }
  .details {
  margin-top:10px;
    float:left;
  }
  .brand {
    width:100%;
    display:block;
    background-color:#000;
    color: #FFF;
    text-align:center;
    padding: 5px 0;
    clear:both;
  }
}
 