<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You've been invited to make sure everythings A.OK</h1>
    <p>
      <%= link_to 'Create your account', new_user_registration_url %>
    </p>
  </body>
</html>